<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoE0asp3-Hc9WAcBzBCOmJjmR5SFwiUbw</string>
	<key>GCM_SENDER_ID</key>
	<string>223156559785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomBasicAdmin</string>
	<key>PROJECT_ID</key>
	<string>ecom-basic-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>ecom-basic-admin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223156559785:ios:a817048855a759cecc2eb8</string>
</dict>
</plist>